@using Microdev.ASPNETCore.ViewModels;
@model EmployeeViewModel

<table class="table">
    <tr>
        <td >@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Salary</td>
        <td>@Model.DepartmentName</td>
    </tr>

</table>
